<h1>Employee</h1>
<h3><%= @employee.name %></h3>
<p><h4>Alias: <%= @employee.alias %> </p>
<p>Title: <%= @employee.title %></p>
<p>Office: <%= @employee.office %></p>
<p>Dog <%= @employee.dog.name %></p>
<img src="<%= @employee.img_url %>">