<h1>Employee Page</h1>

<img src=<%=@employee.img_url%>>

<h3>Employee Name: <%=@employee.first_name + " " + @employee.last_name %></h3>
<p>Alias: <%=@employee.alias %></p>
<p>Title: <%=@employee.title %></p>
<p>Office: <%=@employee.office %></p>
<p><%=@employee.dog.name %></p>


<%# <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> %>

