<h1> Employee Page </h1>
<img src="<%= @employee.img_url %>">
<ul> 

    <li><b>Name:</b> <%= @employee.full_name %></li>
    <li><b>Alias:</b> <%= @employee.alias %></li>
    <li><b>Title:</b> <%= @employee.title%></li>
    <li><b>Office:</b> <%= @employee.office%></li>
    <li><b>Dog:</b> <%= @employee.dog.name%></li>
</ul>