<h1><%= @employee.full_name %></h1>
<img src="<%= @employee.img_url %>">
<h4>Alias: <em><%= @employee.alias %></em></h4>
<h4>Title: <%= @employee.title %></h4>
<h4>Office: <%= @employee.office %></h4>
<h4>Dog: <%= @employee.dog.name %></h4>
